.chat {
    max-width: 100%;
    width: 400px;
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    transition: transform 0.3s;
    &_open {
        transform: translateX(0);
    }
    &_close {
        transform: translateX(-100%);
    }
    &__toggle {
        position: absolute;
        left: 100%;
        top: 0;
    }
    &__tabs {
        width: 100%;
    }
    &__content {
        overflow-y: auto;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 300px;
    }
    &__link {
        background: rgba(0, 0, 0, 0.7) !important;
        color: rgba(255, 255, 255, 0.5) !important;
        border: none !important;
        border-bottom: 2px solid transparent !important;
        cursor: pointer;
        &_active {
            color: white !important;
            border-color: #fff !important;
        }
    }
    &__avatar {
        position: relative;
        left: 1px;
        padding: 5px;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        border: 1px solid white;
        border-right: 1px solid rgba(0, 0, 0, 0.7);
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    &__text {
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 10px;
        border-top-left-radius: 0;
    }
    &__title {
        color: white;
        font-weight: bold;
        margin: 0;
    }
    &__message {
        padding: 0;
        margin: 0;
        color: white;
    }
    &__user-message {
        background: #fff;
        padding: 5px 10px;
        border-radius: 10px;
    }
}