.chat {
  max-width: 100%;
  width: 400px;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  transition: transform 0.3s; }
  .chat_open {
    transform: translateX(0); }
  .chat_close {
    transform: translateX(-100%); }
  .chat__toggle {
    position: absolute;
    left: 100%;
    top: 0; }
  .chat__tabs {
    width: 100%; }
  .chat__content {
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 300px; }
  .chat__link {
    background: rgba(0, 0, 0, 0.7) !important;
    color: rgba(255, 255, 255, 0.5) !important;
    border: none !important;
    border-bottom: 2px solid transparent !important;
    cursor: pointer; }
    .chat__link_active {
      color: white !important;
      border-color: #fff !important; }
  .chat__avatar {
    position: relative;
    left: 1px;
    padding: 5px;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-right: 1px solid rgba(0, 0, 0, 0.7);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%; }
  .chat__text {
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 10px;
    border-top-left-radius: 0; }
  .chat__title {
    color: white;
    font-weight: bold;
    margin: 0; }
  .chat__message {
    padding: 0;
    margin: 0;
    color: white; }
  .chat__user-message {
    background: #fff;
    padding: 5px 10px;
    border-radius: 10px; }
