.player-skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.player-progress-text {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: #fff; }

.player-hp {
  position: relative; }

.player-ult {
  position: relative;
  opacity: 0.5; }

.progress {
  position: relative;
  background-color: rgba(255, 0, 0, 0.5);
  height: 40px; }

.progress-bar {
  background-color: rgba(255, 0, 0, 0.8); }

.rounds {
  height: 100px;
  min-height: 100%;
  overflow-y: auto; }

.rounds li {
  flex-shrink: 0; }

.emoji {
  width: 70px;
  height: 70px; }

.player-name {
  margin-left: -15px;
  margin-bottom: 0;
  position: relative;
  top: -5px; }

@media (min-width: 992px) {
  .player-name {
    margin: 0;
    position: absolute;
    left: 0;
    top: -30px;
    z-index: 1; }
  .player-name_enemy {
    left: 35%; } }
